.register {
    background: #fff;
    position: relative;
    width: auto;
    padding: 5px 0px 20px 10px;
    transition: transform .1s ease-in-out;
    border-radius: 10px;
}


.aaa {
    position: relative;
    opacity: 0;
    width: 100%;
    margin-top: 10px;
    transition: opacity .3s ease-in-out;
}

.inputCambio {
    width: 100%;
    padding: 0 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

.inputLabel {
    position: absolute;
    pointer-events: none;
    top: -5;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.aaa input:valid + .inputLabel {
    top: -20px;
    font-size: 18px;
    font-weight: normal;
    color: #9e9e9e;
}

.barraHerramientas {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
/*AUTO COMPLETADO*/
.autocomplete-options {
    border: 1px solid #ccc;
    background-color: #fff;

}

.autocomplete-option {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-option:hover {
    background-color: #f2f2f2;
}

.autocomplete-option.active {
    background-color: #007bff;
    color: #fff;
}
#buscador {
    width: 300px;
    z-index: 1;
    position: absolute;
}
/***********************/
/*PRUEBA DE BOTONES CON OPACIODAD*/
/* Aplicar filtro de brillo para hacer los botones más blancos */
.btn-custom {
    opacity: 0.5; /* Puedes ajustar el valor de la opacidad según tus preferencias */
    transition: background-color 0.5s ease; /* Transición de color de fondo con duración de 0.5 segundos */
}
#btn-Nuevo:focus {
    opacity: 1; /* Puedes ajustar el valor de la opacidad según tus preferencias */
}

#btn-Eliminar:focus {
    opacity: 1; /* Puedes ajustar el valor de la opacidad según tus preferencias */
}
#btn-Guardar:focus {
    opacity: 1; /* Puedes ajustar el valor de la opacidad según tus preferencias */
}

.resaltado {
    background-color: yellow; /* Puedes cambiar el color de fondo a tu preferencia */
    font-weight: bold; /* Puedes aplicar otros estilos, como hacer el texto en negrita */
}

