
@{
    ViewBag.Title = "Linea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Linea</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Lista de Lineas
</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal()">Crear nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th>Descripcion de la Linea</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Linea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-1">

                <input id="txtid" type="hidden" value="0">

                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtdescripcion" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option value="A">Activo</option>
                            <option value="D">Desactivo</option>
                            <option value="O">Oculto</option>
                        </select>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="txtdescripcion">Descripcion de la Linea</label>
                        <textarea class="form-control" type="text" id="textareadescripcion" name="descripcion" style="height:125px ;resize:none" autocomplete="off"></textarea>
                    </div>
                </div>
                @*MENSAJE ALERTA*@
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            This is a danger alert—check it out!
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onClick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

            var tabladata;
            var filaSeleccionada;
            //MOSTRAR DATOS EN LA TABLA
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                ajax: {
                    url: '@Url.Action("ListarLinea", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                columns: [
                    { data: "Descripcion" },
                    {
                        data: "Activo", render: function (valor) {
                            if (valor=="A") {
                            return '<span class="badge bg-success">Activo</span>'
                            } else if (valor=="O") {
                                return '<span class="badge bg-secondary ">Oculto</span>'
                            } else {
                            return '<span class="badge bg-danger">Desacticvado</span>';
                            }
                        }
                    },
                    { data: "Deslc" },

                    {

                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn-eliminar btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                    }
            });
        //ABRIR MODAL
        function abrirModal(json) {
            $('#txtid').val(0);
            $('#txtdescripcion').val("");
            $('#cboactivo').val("A");
            $('#textareadescripcion').val("");
            $('#mensajeError').hide();

            if (json != null) {
                $('#txtid').val(json.IdLinea);
                $('#txtdescripcion').val(json.Descripcion);
                if (json.Activo == "A") {
                    $('#cboactivo').val( "A" );
                } else if (json.Activo == "O") {
                    $('#cboactivo').val("O");
                } else {
                    $('#cboactivo').val("D");
                }
                $('#textareadescripcion').val(json.Deslc);

            }
            $("#FormModal").modal("show");
        }
        //BOTON EDITAR
        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data);
        })
        //BOTON ELIMINAR
        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var Lineaseleccionado= $(this).closest("tr");
            var data = tabladata.row(Lineaseleccionado).data();
            console.log(data);
            swal({
                title: "¿Esta Seguro?",
                text: "¿Desea eliminar la Linea?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                jQuery.ajax({
                    url: '@Url.Action("EliminarLinea", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdLinea }),
                    dataType: "json",
                    contentType: "application/json; chartset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabladata.row(Lineaseleccionado).remove().draw()
                        } else {
                            swal("No se pudo eliminar", data.mensaje, "error");

                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });


            });
        })
        //BOTON GUARDAR (MODAL)
        function Guardar() {
            var textActivo;
            var comp = $('#cboactivo').val();

            if(comp == "A") {
                textActivo=  "A";
            } else if (comp == "O") {
                textActivo =  "O";
            } else {
                textActivo = "D";
            }

            var Linea = {
                IdLinea: $('#txtid').val(),
                Descripcion: $('#txtdescripcion').val(),
                Activo: textActivo,
                Deslc: $('#textareadescripcion').val()

            }

            jQuery.ajax({
                url: '@Url.Action("GuardarLinea", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Linea }),
                dataType: "json",
                contentType: "application/json; chartset=utf-8",
                success: function (data) {
                    $('.modal-body').LoadingOverlay("hide");

                    //Linea nuevo
                    if (Linea.IdLinea == 0) {
                        if (data.resultado != 0) {
                            Linea.IdLinea = data.resultado;
                            tabladata.row.add(Linea).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $('#mensajeError').text(data.mensaje);
                            $('#mensajeError').show();

                        }

                    }
                     //Linea editar
                    else {
                        if (data.resultado) {
                            $("#FormModal").modal("hide");
                            tabladata.row(filaSeleccionada).data(Linea).draw(false);
                            filaSeleccionada = null;
                        }
                        else {
                            $('#mensajeError').text(data.mensaje);
                            $('#mensajeError').show();

                        }

                    }

                },
                error: function (data) {
                    $('.modal-body').LoadingOverlay("hide");
                    $('#mensajeError').text("Error AJAX");
                    $('#mensajeError').show();
                },
                beforeSend: function (data) {
                    $('.modal-body').LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando.....",
                        size:14
                    });
                }
            });




        }
    </script>
}


