
@{
    ViewBag.Title = "Linea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CssUsuarios/UsuariosRegistros.css" rel="stylesheet" />

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Linea</li>
</ol>


<div id="cardRegistros" class="card mb-5">
    <div class="card-header">
        <div class="row mx-5 my-3 bg-secondary py-2 rounded-3 barraHerramientas">
            <div class="d-flex justify-content-center col-8 ">
                <button id="btn-Nuevo" type="button" class="btn btn-primary btn-sm mx-2"><i class="fas fa-plus"></i> Nuevo</button>
                <button id="btn-Eliminar" type="button" class="btn btn-danger btn-sm mx-2"><i class="fas fa-trash"></i> Eliminar</button>
                <button id="btn-Guardar" type="button" class="btn btn-success btn-sm mx-2"><i class="fas fa-play"></i> Guardar</button>
            </div>

            <div class="ms-auto col-auto ">
                <span class="bg-light p-2 rounded-2">
                    <input id="txtBusqueda" type="text">
                    <div   id="opcionesLista" class="autocomplete-options" style="display: none;"></div>

                </span>
            </div>
        </div>

    </div>

    <div class="card-body">


        <input id="txtRegistroid" type="hidden" value="0">

        <div class=" w-100" id="">
            <label class="form-label h3 fw-bold">Nombre</label>
            <input id="txtRegistroNombre" class="form-control" type="text" />
        </div>
        <div class="my-2 w-100" id="">
            <label class="form-label h3 fw-bold">Descripcion</label>
            <textarea id="txtRegistrodescripcion" class="form-control" type="text" style=" height: 200px;"></textarea>
        </div>

        <div class=" w-100" id="">
            <label class="form-label h3 fw-bold">Activo</label>
            <select class="form-select" id="cboRegistroActivo">
                <option value="A">Activo</option>
                <option value="D">Desactivo</option>
                <option value="O">Oculto</option>
            </select>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div id="mensajeError" class="alert alert-danger" role="alert" style ="display: none;">
                </div>

            </div>
        </div>

    </div>
</div>




<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Lista de Lineas
    </div>


    <div class="card-body">
        <div class="row h3 fw-bolder text-center"><label class="text-center"> Registros de Lineas</label></div>
        @*<div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" onclick="abrirModal()">Crear nuevo</button>
                </div>
            </div>*@
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th>Descripcion de la Linea</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Linea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-1">

                <input id="txtid" type="hidden" value="0">

                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtdescripcion" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo">
                            <option value="A">Activo</option>
                            <option value="D">Desactivo</option>
                            <option value="O">Oculto</option>
                        </select>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="txtdescripcion">Descripcion de la Linea</label>
                        <textarea class="form-control" type="text" id="textareadescripcion" name="descripcion" style="height:125px ;resize:none" autocomplete="off"></textarea>
                    </div>
                </div>
                @*MENSAJE ALERTA*@
                @*<div class="row mt-2">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                This is a danger alert—check it out!
                            </div>

                        </div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onClick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Linea/LineaJS.js"></script>
    <script src="~/Scripts/Pruebas/PruebasLineas.js"></script>

}

