@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/CssGeneral/General.css" rel="stylesheet" />
<div class="card-header" style="margin-top:15px;">
    <h2 class="display-4">Compra</h2>
</div>
<div class="card" style="margin-bottom:10px;">
    <div class="card-body">
        <div class="row">
            @*<div class="col-sm-auto">
                <div id="buscador">
                    <div class="input-group rounded-2 bg-primary">
                        <input id="txtBusqueda" type="text" class="form-control form-control-sm" placeholder="Buscar compra" autocomplete="off">
                        <button id="btn-BuscarBuscador" class="btn btn-sm" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div style="position:absolute">
                        <div id="botonesPaginado" class="autocomplete-options" style="display: none;"></div>
                        <div id="opcionesLista" class="autocomplete-options" style="display: none;"></div>
                    </div>
                </div>
            </div>*@
            <div class="col-sm-auto">
                <div class="">
                    <button id="btn-Nuevo" type="button" class="mx-5 btn btn-primary btn-sm"><i class="fas fa-plus"></i> Nuevo</button>
                    @*<button id="btn-Eliminar" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Eliminar</button>*@
                    <span id="modo" class="animacion-editar rounded-2 fw-bold" style="display: none;"> Editando <i id="icono-modo" class="fas fa-edit"></i> </span>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs col-6" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="datosProducto-tab" data-bs-toggle="tab" data-bs-target="#tabDatosProducto" type="button" role="tab" aria-controls="tabDatosProducto" aria-selected="false">Datos Producto</button>
    </li>
</ul>

<div class="card" style="margin-bottom:10px;">
    <div class="card-body">
        <div class="row">
            <div class="">

                <!-- Tab Datos Producto -->
                <div class="tab-pane active container-fluid" id="tabDatosProducto" role="tabpanel" aria-labelledby="datosProducto-tab">
                    <form>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row p-1">
                                        <label for="txtRegistroFechaEstimadaEntrega" class="col-sm-2 col-form-label col-form-label-sm">Fecha Estimada Entrega</label>
                                        <div class="col-sm-6">
                                            <input disabled  id="txtRegistroFechaEstimadaEntrega" class="form-control form-control-sm" type="date" placeholder="Fecha Estimada de Entrega">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-sm-12">
                                    <table id="tblDatosProductos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>No Parte</th>
                                                <th>Proveedor</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input disabled class="form-control form-control-sm txtNoParte" type="text" placeholder="No Parte">
                                                </td>
                                                <td>
                                                    <select disabled class="form-select form-select-sm cboProveedor">
                                                        <option value="option1">Option 1</option>
                                                        <option value="option2">Option 2</option>
                                                        <option value="option3">Option 3</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input disabled class="form-control form-control-sm txtPrecio" type="number" placeholder="Precio">
                                                </td>
                                                <td>
                                                    <input disabled class="form-control form-control-sm txtCantidad" type="number" placeholder="Cantidad">
                                                </td>
                                                <td>
                                                    <div disabled class="btn btn-danger btn-sm eliminar-orden"><i class="fas fa-trash"></i></div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>






                                </div>
                            </div>
                        </fieldset>
                    </form>
@*                     <button id="btnMostrarDatos" class="btn btn-primary">Mostrar Datos en Consola</button>
 *@                </div>

            </div>
        </div>
    </div>
</div>

<div style="text-align:right; margin-top:10px;">
    <button disabled id="btn-Guardar" type="button" class="btn btn-success btn-sm x-2"><i class="fas fa-play"></i> Guardar</button>
    <button disabled id="btn-Cancelar" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancelar</button>
</div>


<div id="mensajeError" class="alert alert-danger" role="alert" style="display: none;">
</div>



@*<div class="card-header" style="margin-top:15px;">
    <div>
        <h2 class="display-6">
            Listado de Compras
            <button id="btn-Actualizar" type="button" class="btn btn-primary btn-sm mx-1"><i class="fas fa-sync"></i></button>
        </h2>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="display-8" style="display:inline-block">Búsqueda</h5>
        <div class="form-check form-switch" style="display:inline-flex; margin-left:5px;">
            <input id="checkFiltros" class="form-check-input" type="checkbox" style="cursor:pointer" />
        </div>
    </div>
    <div class="card-body p-0">
        <div id="filtroslinea" style="display:none">
            <form>
                <fieldset>
                    <div class="row container-fluid pt-3">
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <div class="col-sm-1" style="text-align:right">
                                    <input value="Filtro ID" class="form-control-sm" name="grupoFiltros" id="checkFiltroId" type="checkbox" />
                                </div>
                                <label for="checkFiltroId" class="col-sm-2 col-form-label col-form-label-sm">ID</label>
                                <div class="col-sm-9">
                                    <input id="txtFiltroIDWhere" type="text" class="form-control form-control-sm" disabled placeholder="Buscar ID en la Tabla...." />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <div class="col-sm-1" style="text-align:right">
                                    <input value="Filtro Nombre" name="grupoFiltros" id="checkFiltroDescripcion" class="form-control-sm" type="checkbox" />
                                </div>
                                <label for="checkFiltroDescripcion" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
                                <div class="col-sm-9">
                                    <input id="txtFiltroDescripcionWhere" type="text" class="form-control form-control-sm" disabled placeholder="Buscar Nombre en la Tabla...." />
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-12" style="text-align:right">
                                    <div id="btn-buscarTabla" class="btn btn-sm btn-info"><i class="fas fa-search m-auto me-2"></i> Aplicar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>*@


<div class="card">
    <div class="card-header">
        <div>
            <h2 class="display-6">
                Listado de Compras
            </h2>
        </div>
        <h5 class="display-8" style="display:inline-block">Estatus</h5>
        <div class="form-check form-switch" style="display:inline-flex; margin-left:5px;">
            <select id="estatusSelect" class="form-control">
                <option value="AB">Abierta</option>
                <option value="CA">Cancelada</option>
                <option value="CO">Completa</option>
            </select>
        </div>
        <button id="btn-Actualizar" type="button" class="btn btn-primary btn-sm mx-1"><i class="fas fa-sync"></i></button>

    </div>
    <div class="card-body p-0">

        <div class="container-fluid">
            <table id="tabla" class="table table-sm table-striped display cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>Cantidad Productos</th>
                        <th>Total</th>
                        <th>
                            ID
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <div class="row justify-content-center">
                                <div id="paginadoTabla">
                                </div>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/Compras/ComprasJS.js"></script>
}
